#arkhip{
  font-family: Arkhip;
}
@font-face {
  font-family: 'Arkhip';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Arkhip_font.ttf);
}
#arvo{
  font-family: Arvo;
}
@font-face {
  font-family: 'Arvo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Arvo-Regular.ttf);
}
#atlantid{
  font-family: Atlantid;
}
@font-face {
  font-family: 'Atlantid';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ATLANTID.ttf);
}

#azbuka2{
  font-family: Azbuka2;
}
@font-face {
  font-family: 'Azbuka2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Azbuka02.ttf);
}

#azbuka3{
  font-family: 'Azbuka3';
}
@font-face {
  font-family: 'Azbuka3';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Azbuka03_D.ttf);
}

#blago{
  font-family: 'Blago';}
@font-face {
  font-family: 'Blago';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/BLAGO/BLAGO.ttf);
}

#cirpnova{
  font-family: 'Cirpnova';  }
@font-face {
  font-family: 'Cirpnova';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CIRPNOVA_D.ttf);
}

#dilyan{
  font-family: 'Dilyan';}
@font-face {
  font-family: 'Dilyan';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/dilyan.ttf);
}

#goran{
  font-family: 'Goran';}
@font-face {
  font-family: 'Goran';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GORAN.ttf);
}

#goranC{
  font-family: 'GoranC';}
@font-face {
  font-family: 'GoranC';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/GORAN_C.ttf);
}

#jagodina{
  font-family: 'Jagodina';}
@font-face {
  font-family: 'Jagodina';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/JAGODINA.ttf);
}

#jgdpraz{
  font-family: 'JgdPraz';}
@font-face {
  font-family: 'JgdPraz';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/JGD_PRAZ.ttf);
}

#jgdprko{
  font-family: 'JgdPrko';}
@font-face {
  font-family: 'JgdPrko';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/JGD_PRKO.ttf);
}

#mirosln{
  font-family: 'Mirosln';}
@font-face {
  font-family: 'Mirosln';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/MIROSLN.ttf);
}

#naopak{
  font-family: 'Naopak';}
@font-face {
  font-family: 'Naopak';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NAOPAK.ttf);
}

#nikola{
  font-family: 'Nikola';}
@font-face {
  font-family: 'Nikola';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NIKOLA.ttf);
}

#nikolaL{
  font-family: 'NikolaL';}
@font-face {
  font-family: 'NikolaL';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NIKOLA_L.ttf);
}

#oksana{
  font-family: 'Oksana';}
@font-face {
  font-family: 'Oksana';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/OksanaUADemo.ttf);
}

#pravosla{
  font-family: 'Pravosla';}
@font-face {
  font-family: 'Pravosla';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/pravosla.ttf);
}

#spomenar2{
  font-family: 'Spomenar2';}
@font-face {
  font-family: 'Spomenar2';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SPOMENAR2.ttf);
}

#spomenar6{
  font-family: 'Spomenar6';}
@font-face {
  font-family: 'Spomenar6';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SPOMENAR6.ttf);
}

#srpskaKniga{
  font-family: 'SrpskaKniga';}
@font-face {
  font-family: 'SrpskaKniga';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/SRPSKA_KNIGA/SKNIGA13.ttf);
}

#ukije{
  font-family: 'Ukije';}
@font-face {
  font-family: 'Ukije';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/UKIJJe.ttf);
}

#vuk34{
  font-family: 'Vuk34';}
@font-face {
  font-family: 'Vuk34';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/VUK-34.ttf);
}


#wrongo{
  font-family: 'Wrongo';}
@font-face {
  font-family: 'Wrongo';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Wrongo_ULC_4F-Regular.ttf);
}


#wrongoI{
  font-family: 'WrongoI';}
@font-face {
  font-family: 'WrongoI';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Wrongo_ULC_4F-Regular_Italic.ttf);
}


#zaneseni{
  font-family: 'Zaneseni';}
@font-face {
  font-family: 'Zaneseni';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Zanesennyi.ttf);
}


#zlatso{
  font-family: 'Zlatso';}
@font-face {
  font-family: 'Zlatso';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ZlatSoUcs.ttf);
}


#zlatu{
  font-family: 'Zlatu';}
@font-face {
  font-family: 'Zlatu';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ZlatUcs.ttf);
}
